// ==============================================
// Colors
// ==============================================

$color-overlay: rgba(0, 0, 0, 0.5);
$color-background: #070f2b;
$color-gray: #d1d1d1;
$color-black: #222;
$color-black: #001524;
$color-white: #f5f5f5;
$color-white: #f1f0e8;
$color-blue: #0095f6;
$color-red: #ff3a40;
$color-orange: #ee4b2b;
$color-yellow: #ffbf00;

$color-green: #9dbc98;

// ==============================================
// Font sizes
// ==============================================
